.clearfix{
    display: inline-block;
    &:after{
        display: block;
        content: '';
        height: 0;
        line-height: 0;
        clear: both;
        visibility: hidden;
    }
}

ul li{  
    list-style-type:none;  
}  
